<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Capa_de_Presentacion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Capa_de_Presentacion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Capa_de_Presentacion.Properties.Settings.DemoPracticaConnectionString"
            connectionString="Data Source=SERVER-PC\SERVER;Initial Catalog=DemoPractica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Capa_de_Presentacion.Properties.Settings.DemoPracticaConnectionString1"
            connectionString="Data Source=SERVER-PC\SERVER;Initial Catalog=DemoPractica;User ID=PRUEBA;Password=prueba"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Capa_de_Presentacion.Properties.Settings>
            <setting name="TecnicoPass" serializeAs="String">
                <value>config</value>
            </setting>
            <setting name="FechaHoy" serializeAs="String">
                <value />
            </setting>
        </Capa_de_Presentacion.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Capa_de_Presentacion.Properties.Settings>
            <setting name="TecnicoUser" serializeAs="String">
                <value>support</value>
            </setting>
        </Capa_de_Presentacion.Properties.Settings>
    </applicationSettings>
</configuration>
