<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Capa_de_Presentacion.Properties.Settings.DemoPracticaConnectionString"
            connectionString="Data Source=SERVER-PC\SERVER;Initial Catalog=DemoPractica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
